<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SQL:Connection" connectionString="Data Source=10.100.100.10\Instancia;Initial Catalog=UniqueCardCliente;User Id=Usuario;Password = Password;" />
  </connectionStrings>
  <appSettings>
    <add key="TestValue" value="TestValue" />
  </appSettings>
</configuration>
